/*SSR Motorsports ReDesign by Otto Burroughs*/

/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */


   html{
   	margin: 1.5em auto;  
   	padding: .5em; 	
   	background: url('../images/carbon-home.png') no-repeat;
   	background-position: center top;
   }
   
  
   
   body{
   	
   		font-size: 100%;
   		line-height: 1.6875;
   		margin: 0 auto;
   		padding:0;
 		 height: auto;
 		
   	}
   	
   	
   	
   	
   	
   	p, h1, h2, h3, h4, h5{
   		text-align: justify;
   		font-family: "Helvetica Neue bold", Arial;
   		color: #000;
   		
   	}
   	
   	h3{
   		
   		font-size: 1.1em;
   	}
   	
   	#logo{
   		float: left;
   		margin: 0 auto;
   	}
   	
   	
   	body article{
   		margin: 0 auto;
   		
   	}
   	
  
  
  /* =============================================================================
     Navigation Styles
     ========================================================================== */
  
  #cssmenu ul {
    margin: 0;
    padding: 0;
  }
  #cssmenu li {
    margin: 0;
    padding: 0;
  }
  #cssmenu a {
    margin: 0;
    padding: 0;
  }
  #cssmenu ul {
    list-style: none;
  }
  #cssmenu a {
    text-decoration: none;
  }
  #cssmenu {
    height: 70px;
    background: url('../images/carbon-bg.png') repeat;
    width: auto;
    margin-top: .1em;
    margin-bottom: 2em;
  }
  #cssmenu > ul > li {
    float: left;
    margin-left: 15px;
    position: relative;
  }
  #cssmenu > ul > li > a {
    color: #cd0000;
    font-family: 'Helvetica Neue', 'Lucida Grande';
    font-size: 15px;
    line-height: 70px;
    padding: 15px 20px;
  }
  #cssmenu > ul > li > a:hover {
    color: #ffffff;
  }


  #cssmenu > ul > li:hover > ul {
    top: 65px;
    visibility: visible;
  }
  #cssmenu > ul > li > ul:before {
    content: '';
    display: block;
    border-color: transparent transparent #fafafa transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
  }
  #cssmenu > ul ul > li {
    position: relative;
  }
  #cssmenu ul ul a {
    color: #323232;
    font-family: 'Helvetica Neue', 'Lucida Grande';
    font-size: 13px;
    background-color: #fafafa;
    padding: 5px 8px 7px 16px;
    display: block;
  }
  
  #cssmenu ul ul > li:hover > ul {
    left: 190px;
    visibility: visible;
  }
  #cssmenu ul ul a:hover {
    background-color: #cc2c24;
    color: #f0f0f0;
  }
  
  
  .rmm{
  	
  		display: none;
  }
  
  /* =============================================================================
     Footer Styles
     ========================================================================== */
  
  
  footer{
    margin: .5em auto;
  	padding: 0;
  	height: 225px;
    border-top: 10px solid silver;
  	/*background: url('../images/footerbkg.png') no-repeat;*/
  	 	  }
  	 	  
  
	.footer_social li{
	margin: 0 auto;
	padding: .5em;
	list-style-type: none;
	display: inline;
	float: right;
}




   
/* =============================================================================
   Page Styles
   ========================================================================== */
   
   
/* ============================================================================
	index.html Home Page Styles
   ========================================================================== */
   
   
   #mainimage{
   		margin: .5em auto;
   		width: 996px;
  
   }
   
   #mainimage img{
   	
   		border: 0px solid #fff;
   }
  
   article{
   		
   		clear: both;
   }
   
   aside{
  	 	margin: 0 auto;
   		   }
   
   #dealer1{
   		
   		margin: 0 auto;
   		padding: .5em;
   		border-top: 3px solid #eee;
   		border-bottom: 3px solid #eee;
   }
   
   #dealerhome #login, #dealerhome #apply{
   		margin: .5em auto;
   		padding: .5em;
   		float: right;
   		
   }
 
 /* ============================================================================
   	dirtbikes.html Home Page Styles
    ========================================================================== */
   #db h1{
   	margin: 0 auto;
   	padding-left: 3px;
   	background: url('../images/carbon-bg.png') repeat;
   	color: red;
   	overflow: hidden;
   }
  
   #dirtbike_gallery, #lineup{
   	
   		margin: .5em auto;
		padding: .5em;
		border: 1px solid #fff;
   }
   
   #dirtbike_gallery ul{
   		width: 100%;
   		margin: 0 auto;
   		padding: 0;   		
   }
   
   #dirtbike_gallery li{
   	margin: 0 auto;
   	list-style-type: none;
   	display: inline;

   }
   
   #dirtbike_gallery img{
   	max-width: 50%;
   }
   
   #philosophy{
   		
   		margin: 0 auto;
   		border: 0px solid #fff;
   		padding: .5em;'
   		clear: both;
   }
   
   aside img{
   	
   	margin: .5em auto;
   	padding: .5em;
   	border: 1px solid #fff;
   }
   
   
 /* ============================================================================
    events.html Home Page Styles
    ========================================================================== */
   	
   	background: #fff;
   }
   
   
   #powersports, #minimoto, #asd{
   	margin-bottom: .7em;
    padding-bottom: 2em;
   }
   
   article h3{
   	margin: 0 auto;
   	padding-left: 3px;
   	background: url('../images/carbon-bg.png') repeat;
   	color: #ea3105;
   	overflow: hidden;
   }
   
   #powersports ul, #minimoto ul, #asd ul{
   		margin: 0 auto;
   		padding: 0;
   }
   
   #powersports li, #minimoto li, #asd li{
  		width: 100%;
  		padding: 0;
  		list-style-type: none;
  		display: inline;
   		
   }
   
   #powersports img, #minimoto img, #asd img{
   		margin: 0 auto;
   		padding: .2em;
   		float: left;
      height: 180px;
      width: auto;
  
   }
   
   #eventads img{
   	margin: 0 auto;
   	padding: .5em;
   	padding-bottom: .5em; 	

   	float: right;
   }
   
   
   
   .pure-paginator{
   		clear: both;
   		float: left;
   		border: 1px solid #333;
   }  
   
   #itunes{
   	margin: 3em auto;
   	padding: .5em;

   }
   
 /* ============================================================================
    warranty.html Home Page Styles
    ========================================================================== */
 
    #wdim{
      
      margin: 0 auto;
      text-align: justify;
      padding: 2em;
          }

    #wdim h1{
      color: red; 
}

#factorylimited p{
    color: white;
}

  #factorylimited h1{
    font-size: 1em;
  }

    #factorylimited{
      margin: 0 auto;
      padding: 3em;
}

  #factorylimited h1{
      color: red;
      text-align: justify;
  }

    #warrantyarticles h1, #warrantyarticles h4{
	     border-bottom: 1px solid #eee;
}


    #vor{
 	    clear: left;
 }
 
 
    #drb{
    	float: right;
 	    margin: 0 auto;
 	    padding: 6em;
      border: 1px solid purple;
 }
 


 
 
 /* ============================================================================
    dealers.html Home Page Styles
    ========================================================================== */
    

#dealersrow img{
	
	margin: .5em auto;
	padding: .5em;
	max-width: 80%;
	
	
}

#becomeadealer{
	margin: 0 auto;
	padding: 1em;
	display: inline-table;
	
}

#becomeadealer button{
            color: white;
            background: rgb(66, 184, 221); /* this is a light blue */
    
            }
 /* ============================================================================
    contact.html Home Page Styles
    ========================================================================== */   
    
    #dsignup img{
    	
    	margin: 0 auto;
    	margin-bottom: .5em;
    }
    
    #contactads img{
    	margin: 0 auto;
    	padding: 0;
    	max-width: 100%;
    	margin-bottom: .7em;
    	border: 1px solid #fff;
    }
   

form{
	
	margin: 0 auto;
	padding: .5em;
	background: #fff;
}



.info li{
	list-style-type: none;
}


/* =============================================================================
   Media Queries
   ========================================================================== */


/* Tablet Portrait size to Base 996px*/
@media only screen and (min-width: 768px) and (max-width: 995px) {
	
	html{background: none;}
	.desktopnavigation{display: none;}
	.rmm{ display: block; float: right}
	#dirtbikegallery{float: left;}
	#powersports li{ clear: both;}
	#becomeadealer button{clear: both;}
   #wdim, #factorylimited{clear: both;}
  #factorylimited p{color: black}
	footer background-image{ display: none;}	
		
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	html{background: none;}
	.desktopnavigation{display: none;}
	.rmm{ display: block; margin: 0 auto;}
  #philosophy{ clear: both;}
   #wdim, #factorylimited{clear: both;}
  #factorylimited p{color: black}
	
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	html{background: none;}
  #philosophy{ clear: both;}
	.desktopnavigation{display: none;}
	.rmm{ display: block; width:100%;}
  #wdim, #factorylimited{clear: both;}
  #factorylimited p{color: black}
	



}

/* Mobile Portrait Size to Mobile Landscape Size*/ 
@media only screen and (max-width: 479px) {
	html{background: none;}
  #apply, #login{ border: 1px dotted green; margin: 0 auto; padding: 0; clear: both;}
	#db{margin: 0 auto; padding: 0; clear: both;}
  #asidedb{ margin: 0 auto; padding: 0;}
  #philosophy img{ clear: both;}
	.rmm{display: block; width:100%;}
	.desktopnavigation{display: none;}
  #powersports, #minimoto, #asd{ margin: 0 auto; padding-bottom: .5em;}
	#powersports li, img{ clear: both;}
  #powersports img, #minimoto img, #asd img{ width: 100%; height: auto; margin: 0 auto; padding: .1em; clear: both;}
  #wdim, #factorylimited{  padding: 1em; clear: both;}
  #wdim ul{ list-style-type: none; float: left;}
  #wdim ul p{ margin: 0 auto; padding: .5em;}
  #factorylimited p{color: black}

 	
	
}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/