/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
   
   nav li{
   	
   	display: inline-block;
   }
   
   p{
   	text-align: justify;;
   }
   
/* =============================================================================
   Page Styles
   ========================================================================== */
   
   
/* ============================================================================
	index.html Home Page Styles
   ========================================================================== */
   
   
   #mainimage{
   	
   	float: left;
   }
   
   article{
   	clear: both;
   }
 
 /* ============================================================================
   	dirtbikes.html Home Page Styles
    ========================================================================== */
   
   #dirtbike_gallery
   
   #dirtbike_gallery ul{
   		list-style-type: none;
   		background: red;
		float: left;
   }
   
   #dirtbike_gallery li{
   		margin: 0 auto;
   		padding: .5em;
   		display: inline;
   	
   }
   
   
 /* ============================================================================
    events.html Home Page Styles
    ========================================================================== */
   #eventbox{
   		float: left;
   		display: inline;
   }
   
 /* ============================================================================
    warranty.html Home Page Styles
    ========================================================================== */
 
 
 
 
 
 /* ============================================================================
    dealers.html Home Page Styles
    ========================================================================== */
    


 /* ============================================================================
    contact.html Home Page Styles
    ========================================================================== */   
    

/* =============================================================================
   Media Queries
   ========================================================================== */


/* Tablet Portrait size to Base 996px
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes 
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait 
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size 
@media only screen and (max-width: 479px) {}
*/


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/